@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(1070px, 580px);
            transform: translate(1070px, 580px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(1070px, 580px);
            transform: translate(1070px, 580px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate_min {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate_min {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#container {
  margin: 0 10%;
  height: 100vh;
  background-color: blue;
}

section {
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100%;
}

section h1 {
  padding: 3px;
  font-size: 1.5em;
}

section .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .text div {
  width: 50%;
}

section .text p {
  padding: 10px 20px 5px 20px;
  font-size: .7em;
}

section .text ul {
  padding: 10px 10px 10px 0;
  font-size: .75em;
  font-weight: bold;
}

section .text ul li {
  font-weight: normal;
  font-size: .8em;
  list-style: circle inside;
  padding-left: 10px;
}

.ani-container {
  border: 1px solid black;
  margin: 15px 20px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.item {
  height: 40px;
  width: 40px;
  background-color: blue;
  position: absolute;
}

#links {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.forward {
  max-width: 10%;
  font-size: .75em;
}

.previous {
  max-width: 10%;
  font-size: .75em;
}

.circle {
  border-radius: 90px;
  height: 180px;
  width: 180px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.circle .item {
  width: 1px;
  height: 90px;
  position: relative;
  left: 50%;
  background-color: black;
}

.item {
  -webkit-animation: move 10s linear;
          animation: move 10s linear;
}
/*# sourceMappingURL=first.css.map */